/*** Mobile ***/
@media screen and (max-width: 700px) {
    .start__title {
        font-size: 28px;
        text-align: center;
    }

    .start__button {
        padding: 20px 30px;
        font-size: 20px
    }

    .instructions,
    .questions-container,
    .final-screen {
        width: 100vw;
        height: 100vh;
        padding: 80px 40px;
    }


    .instructions__title {
        font-size: 28px;
    }

    .instructions__subtitle {
        font-size: 16px;
    }

    .question-image {
        width: 100%;
        height: 250px;
    }

    .question-title {
        font-size: 18px;
        text-align: center;
    }

    .answer-buttons {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 3vw;
        width: 100%;
        height: 150px;  
    }

    .btn {
        padding: 10px;
        display: block;
        width: 100%;
        height: 100%;
    }

    .points {
        top: 5%;
    }
}