* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #E6D5FF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/*** Estilização ***/

.start {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start__title {
    margin: 0 0 30px 0;
    font-size: 36px;
    color: #AF27FE;
}

.start__button {
    cursor: pointer;
    outline: none;
    padding: 20px 40px;
    font-size: 22px;
    font-weight: 600;
    background-color: #fff;
    border: solid 2px #AF27FE;
    border-radius: 6px;
    transition: ease 0.2s;
    color: #AF27FE;
    box-shadow: 12px -6px 26px -19px rgba(0,0,0,0.75);
}

.start__button:hover {
    background-color: #e0e0e0;
}

.instructions {
    width: 70vw;
    height: 80vh;
    background-color: #AF27FE;
    border-radius: 6px;
    box-shadow: 12px -6px 26px -19px rgba(0,0,0,0.75);
    padding: 30px 40px;
}

.instructions__title {
    color: #fff;
    font-size: 30x;
    margin: 0 0 30px 0;
}

.instructions__subtitle {
    margin: 0 0 20px 0;
    color: #ebebeb;
}

.questions-container {
    width: 70vw;
    height: 90vh;
    background-color: #AF27FE;
    border-radius: 6px;
    box-shadow: 12px -6px 26px -19px rgba(0,0,0,0.75);
    padding: 30px 40px;    
    display: flex;
    flex-direction: column;
     
    align-items: center;
}

.question-image {
    margin: 0 auto 20px auto;
    width: 60%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: solid 3px #6410eb;
}

.question-number {
    color: #fff;
    font-size: 30px;   
    margin: 0 0 20px 0; 
}

.question-title {
    margin: 0 0 15px 0;
    color: #fff;
    font-size: 24px;   
    font-weight: 600;
}

.answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vw;
}

.btn {
    cursor: pointer;
    outline: none;
    padding: 10px 30px;
    font-size: 18px;
    background-color: #fff;
    border: solid 1px #8b4df0;
    border-radius: 6px;
    transition: ease 0.2s;
    color: #ff1f96;
    font-weight: 600;
    box-shadow: 12px -6px 26px -19px rgba(0,0,0,0.75);
}

.btn:hover {
    background-color: #e0e0e0; 
}

.hide {
    display: none;
}